# Entorno
.env
.venv
env/
venv/
ENV/

# Django
db.sqlite3
/media
/staticfiles

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Tests
.coverage
htmlcov/
.pytest_cache/
